.button {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  font-family: $oswald;
  text-transform: uppercase;
  text-align: center;
  color: $button--link;
  background-color: $button--bg;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    background-color: $button--bg-hover;
  }

  &:active {
    color: rgba($button--link, 0.3);
  }

  &--promo {
    @media (min-width: $tablet-width) {
      width: 245px;
      padding: 15px;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &--show-all {
    color: $button--show-all--link;
    background-color: $button--show-all--bg;

    &:hover,
    &:focus {
      background-color: $button--show-all--bg-hover;
    }

    &:active {
      color: rgba($button--show-all--link, 0.3);
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      width: 245px;
    }
  }

  &--submit {
    @media (min-width: $tablet-width) {
      padding: 13px;
      font-size: 20px;
      line-height: 1.3;
    }
  }

  &--toggle-control {
    line-height: 1;
    color: $page--txt-alt;
    background-color: transparent;

    &:hover,
    &:focus {
      color: rgba($page--txt-alt, 0.6);
      background-color: transparent;
    }

    &:active {
      color: rgba($page--txt-alt, 0.3);
    }

    @media (min-width: $tablet-width) {
      line-height: 1.5;
      border-bottom: 1px dotted rgba($page--txt-alt, 0.4);
    }
  }
}
