.button {
  display: block;
  padding: 11px;
  width: 280px;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $button--link;
  background-color: $button--bg;

  &--show-all {
    color: $button--show-all--link;
    background-color: $button--show-all--bg;
  }
}
