.button {
  display: block;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  font-family: $oswald;
  text-transform: uppercase;
  text-align: center;
  color: $button--link;
  background-color: $button--bg;
  border: none;
  outline: none;

  &:focus {
    color: $button--bg;
    background-color: $page--bg;
    outline: 2px solid $button--bg;
    outline-offset: -2px;
  }

  &:hover {
    color: $button--link;
    background-color: $button--bg-hover;
    outline: none;
  }

  &:active {
    color: rgba($button--link, 0.3);
    outline: none;
  }

  &--promo {
    @media (max-width: $mobile-width-only) {
      padding: 11px;
      font-size: 14px;
      line-height: 1.3;
    }

    @media (min-width: $tablet-width) {
      width: 245px;
      padding: 15px;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &--show-all {
    color: $button--show-all--link;
    background-color: $button--show-all--bg;

    &:hover {
      background-color: $button--show-all--bg-hover;
    }

    &:active {
      color: rgba($button--show-all--link, 0.3);
    }
  }

  &--catalog-additional {
    @media (min-width: $tablet-width) {
      padding: 9px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }

  &--submit {
    @media (min-width: $tablet-width) {
      padding: 13px;
      font-size: 20px;
      line-height: 1.3;
    }
  }

  &--toggle-control {
    position: relative;
    z-index: 1;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    color: $page--txt-alt;
    background-color: transparent;
    outline: none;

    &:hover {
      color: $page--txt-alt;
      background-color: transparent;
    }

    &:focus {
      color: $page--focus;
      background-color: transparent;
      outline: none;
    }

    &:active {
      color: $page--txt-alt;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 1.5;
      border-bottom: 1px dotted rgba($page--txt-alt, 0.4);

      &:hover {
        border-bottom-style: solid;
      }

      &:active {
        border: none;
      }
    }
  }
}
