.catalog-promo {
  min-height: 289px;
  margin: 40px 20px 35px;
  padding-top: 5px;
  background: url("../img/gift-photo-mobile@1x.jpg") center top no-repeat;
}

.catalog-promo__terms {
  margin: 0;
  margin-top: 180px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $catalog-promo--txt;
}
