.catalog__container {
  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding: 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 60px 80px;
  }
}

.catalog__item {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $product-card--border;
  }
}

.catalog__title {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: $oswald;
  color: $page--txt-alt;

  @media (max-width: $mobile-width-only) {
    width: 280px;
    border-bottom: 1px solid $catalog--border;
  }

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 85px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}
