.catalog__title {
  margin: 0;
  padding: 30px 20px 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: Oswald, Arial, sans-serif;
  color: $catalog--txt;
  border-bottom: 1px solid $catalog--border;

  &--not-major {
    position: relative;
    padding: 0;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    color: $catalog--txt-alt;
    border: none;
  }

  &--not-major::before,
  &--not-major::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: $catalog--cross;
  }

  &--not-major::after {
    transform: translateX(-15px) rotate(90deg);
  }
}

.catalog__list {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
}

.catalog__show-all {
  padding: 80px 20px 25px;
  border-bottom: 1px solid $catalog--border;
}

.catalog__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
}

.catalog-additional__wrapper {
  position: relative;
  border-bottom: 1px solid $catalog--border;

  &::before {
    content: "";
    position: absolute;
    top: 45px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: $catalog--border-alt;
  }
}

.catalog-additional__title {
  width: fit-content;
  margin: 0;
  padding: 30px 20px 35px;
  z-index: 5;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: Oswald, Arial, sans-serif;
  color: $catalog--txt;
  background-color: $page--bg;
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
