.catalog-additional {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.catalog-additional__decor-container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 45px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: $catalog--border-alt;

    @media (min-width: $tablet-width) {
      top: 90px;
    }

    @media (min-width: $desktop-width) {
      top: 100px;
    }
  }
}

.catalog-additional__decor-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.catalog-additional__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.catalog-additional__title {
  width: fit-content;
  margin: 0;
  padding: 30px 20px 35px;
  z-index: 5;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: $oswald;
  color: $page--txt-alt;
  background-color: $page--bg;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding: 70px 40px 80px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    padding: 75px 40px 80px;
  }
}

.catalog-additional-container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.catalog-additional__list {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.catalog-additional__promo {
  min-height: 289px;
  margin: 0;
  margin-top: 40px;
  padding-top: 190px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $catalog-promo--txt;
  background:
    url("../img/icon-gift.svg") center 65px / 55px 60px no-repeat,
    url("../img/gift-photo-mobile@1x.jpg") center top no-repeat;
  background-color: $catalog-promo--bg;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-top: 65px;
    padding-top: 70px;
    padding-left: 425px;
    text-align-last: left;
    background:
      url("../img/icon-gift.svg") 90px 65px / 55px 60px no-repeat,
      url("../img/gift-photo-tablet@1x.jpg") center top no-repeat;
    background-color: $catalog-promo--bg;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    margin-top: 0;
    margin-left: 80px;
    padding: 0;
    padding-top: 185px;
    text-align-last: center;
    background:
      url("../img/icon-gift.svg") center 60px / 55px 60px no-repeat,
      url("../img/gift-photo-desktop@1x.jpg") center top no-repeat;
    background-color: $catalog-promo--bg;
  }

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-mobile@2x.jpg");
    background-color: $catalog-promo--bg;
    background-size:
      55px 60px,
      280px 289px;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@2x.jpg");
    background-color: $catalog-promo--bg;
    background-size:
      55px 60px,
      708px 200px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@2x.jpg");
    background-color: $catalog-promo--bg;
    background-size:
      55px 60px,
      245px 289px;
  }
}

.catalog-additional__promo-terms {
  margin: 0;
  margin-top: 185px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-left: 425px;
    text-align-last: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 185px;
    text-align-last: center;
  }

  outline: 2px dashed darkred;
}
