
.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.1;
  color: $page--txt;
  outline: none;

  &:hover,
  &:focus {
    .copyright__icon {
      fill: $social--color-hover;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  margin-left: 16px;
  margin-right: -6px;
  flex-shrink: 0;
  fill: $social--color;
}
