.feedback {
  background-color: $feedback--bg;

  @media (min-width: $tablet-width) {
    margin-top: 620px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 205px;
    background: linear-gradient(to right, $feedback--bg-desktop calc(50% + 610px), $feedback--bg calc(50% + 610px));
  }
}

.feedback__container {
  padding-top: 30px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.feedback__description {
  @media (min-width: $tablet-width) {
    margin-top: -620px;
  }

  @media (min-width: $desktop-width) {
    width: 440px;
    margin-top: -205px;
    padding-bottom: 70px;
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: $oswald;
  color: $page--txt-alt;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 145px;
  }
}

.feedback__item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }
}

.feedback__wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.feedback__achievements {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 365px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.feedback__achievement {
  position: relative;
  width: 125px;
  min-height: 55px;
  padding-top: 14px;
  font-size: 24px;
  line-height: 1;
  font-family: $oswald;
  text-transform: uppercase;
  text-align: center;
  color: $page--txt-alt;
  border: 1px solid $feedback--border;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 160px;
    min-height: 70px;
    font-size: 30px;
  }
}

.feedback__achievement-result {
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  width: 85px;
  padding: 0 10px;
  font-family: $arial;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  color: $page--txt;
  background-color: $feedback--bg;

  @media (min-width: $tablet-width) {
    top: 64px;
    width: max-content;
    font-size: 14px;
    background-color: $page--bg;
  }

  @media (min-width: $desktop-width) {
    background-color: $feedback--bg;
  }
}

.feedback__expenses {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $oswald;
  text-transform: uppercase;
  text-align: center;
  color: $page--txt-alt;

  li:first-of-type {
    margin-right: 5px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin: 0;
    font-size: 20px;
    text-align: right;

    li:first-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-direction: row;
    justify-content: left;

    li:first-of-type {
      margin-right: 55px;
    }
  }
}

.feedback__example {
  position: relative;
  min-height: 295px;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    margin: 0 -20px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    margin-top: -205px;
    padding-bottom: 70px;
  }
}

.feedback__example-after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;

  .feedback__photo {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $feedback--bg;

    @media (min-width: $tablet-width) {
      right: 9px;
      background: linear-gradient(to bottom, $page--bg 161px, $feedback--bg 161px);
    }

    @media (min-width: $desktop-width) {
      right: 0;
      background: linear-gradient(to bottom, $page--bg 205px, $feedback--bg 205px);
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $feedback--bg;
  }
}

.feedback__photo {
  display: block;
  width: 320px;
  max-width: 320px;
  height: auto;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 690px;
    min-width: 690px;
  }
}

.feedback__example-compare {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
