.how-it-works {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #E6E6E6;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }

}

.how-it-works__container {
  padding: 20px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 40px 0;
  }
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: $oswald;
  color: $page--txt-alt;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 60px;
  }
}

.how-it-works__list {
  counter-reset: block;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 35px 135px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
    justify-content: space-between;
    gap: 0;
  }
}

.how-it-works__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 150px;

    &::after {
      position: absolute;
      top: 0;
      left: 110px;
      z-index: -1;
      font-family: $oswald;
      font-size: 280px;
      line-height: 1;
      color: $page--bg-alt;
    }

    &--healthy::after {
      counter-increment: block;
      content: counter(block);
    }

    &--state::after {
      counter-increment: block;
      content: counter(block);
    }

    &--dosage::after {
      counter-increment: block;
      content: counter(block);
    }

    &--time::after {
      counter-increment: block;
      content: counter(block);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $how-it-works--icon-bg;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--state::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dosage::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
