.logo {
  display: block;
  outline: none;

  img {
    display: block;
    width: 100%;

    @media (max-width: $mobile-width-only) {
      width: 191px;
    }
  }

  &[href] {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &:focus {
    filter: drop-shadow(0px 0px 4px $page--focus);
  }
}
