.logo {
  display: block;
  outline: none;

  img {
    display: block;
    width: 100%;

    @media (max-width: $mobile-width-only) {
      width: 191px;
    }
  }

  &[href] {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
