.promo {
  @media (max-width: $mobile-width-only) {
    height: 305px;
    margin-bottom: 195px;

    background: linear-gradient(to right, $promo--bg 50%, $special-site-dim 50%);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    background:
      url("../img/index-background-desktop@1x.jpg") bottom right no-repeat,
      linear-gradient(to right, transparent 50%, $promo--bg 50%);
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background:
      url("../img/index-background-desktop@2x.jpg") bottom right / 720px 696px no-repeat,
      linear-gradient(to right, transparent 50%, $promo--bg 50%);
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 20px;
  line-height: 1;
  font-family: $oswald;
  text-align: center;
  color: $promo--txt-mobile;
  background:
    url("../img/index-can-mobile@1x.png") center 167px no-repeat,
    url("../img/index-background-mobile@1x.jpg") center top no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 950px;
    padding: 110px;
    padding-top: 140px;
    text-align: left;
    color: $page--txt-alt;
    background: url("../img/index-can-tablet@1x.jpg") center bottom no-repeat;
  }

  @media (min-width: $desktop-width) {
    min-height: 695px;
    padding: 190px;
    padding-top: 225px;
    text-align: left;
    color: $page--txt-alt;
    background: url("../img/index-can-desktop@1x.png") 558px 141px no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/index-can-mobile@2x.png"),
      url("../img/index-background-mobile@2x.jpg");
    background-size:
      280px 271px,
      320px 305px;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/index-can-tablet@2x.jpg");
    background-size: 709px 609px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/index-can-desktop@2x.png");
    background-size: 552px 499px;
  }
}

.promo__title {
  margin: 5px 0 25px;
  font-weight: 400;
  font-size: 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 40px;
    width: 500px;
    font-size: 60px;
  }
}

.promo__slogan {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.promo__button {
  margin-top: auto;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }
}
