.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  margin: 20px;
  outline: none;

  @media (min-width: $tablet-width) {
    margin: 20px 15px;
  }

  .social__icon {
    fill: $social--color;
  }

  &:hover,
  &:focus {
    .social__icon {
      fill: $social--color-hover;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    svg {
      @media (min-width: $tablet-width) {
        width: 29px;
        height: 17px;
      }
    }
  }

  &--instagram {
    svg {
      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    svg {
      @media (min-width: $tablet-width) {
        width: 13px;
        height: 77px;
      }
    }
  }
}
