@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .container {
      width: 768px;
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .container {
      width: 1440px;
      padding: 0 110px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  outline: none; }
  .button:hover, .button:focus {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .button--promo {
      width: 245px;
      padding: 15px;
      font-size: 20px;
      line-height: 1.2; } }
  .button--show-all {
    color: #444444;
    background-color: #f2f2f2; }
    .button--show-all:hover, .button--show-all:focus {
      background-color: #eaeaea; }
    .button--show-all:active {
      color: rgba(68, 68, 68, 0.3); }
  @media (min-width: 768px) {
    .button--catalog {
      width: 245px; } }
  @media (min-width: 768px) {
    .button--submit {
      padding: 13px;
      font-size: 20px;
      line-height: 1.3; } }
  .button--toggle-control {
    line-height: 1;
    color: #000000;
    background-color: transparent; }
    .button--toggle-control:hover, .button--toggle-control:focus {
      color: rgba(0, 0, 0, 0.6);
      background-color: transparent; }
    .button--toggle-control:active {
      color: rgba(0, 0, 0, 0.3); }
    @media (min-width: 768px) {
      .button--toggle-control {
        line-height: 1.5;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.4); } }

.page {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  font-family: "Arial", "Helvetica", sans-serif; }
  @media (min-width: 768px) {
    .page {
      font-size: 18px;
      line-height: 1.33; } }

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #444444; }

@media (min-width: 768px) {
  .page-header {
    position: relative; } }

.page-header__container {
  padding-top: 12px; }
  @media (max-width: 767px) {
    .page-header__container {
      width: 100%; } }
  @media (min-width: 768px) {
    .page-header__container {
      display: flex;
      justify-content: space-between;
      padding-top: 24px; }
      .page-header__container--index-page {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%); } }
  @media (min-width: 1440px) {
    .page-header__container {
      padding-top: 53px; } }

.page-header__logo {
  margin-bottom: 16px; }
  @media (max-width: 767px) {
    .page-header__logo img {
      margin: 0 auto;
      transform: translateX(-44px); } }

.logo {
  display: block;
  outline: none; }
  .logo img {
    display: block;
    width: 100%; }
    @media (max-width: 767px) {
      .logo img {
        width: 191px; } }
  .logo[href]:hover, .logo[href]:focus {
    opacity: 0.8; }
  .logo[href]:active {
    opacity: 0.6; }

.main-nav {
  position: relative; }
  @media (max-width: 767px) {
    .main-nav--closed .main-nav__list {
      display: none; } }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 8px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 -8px 0 0 #000000; }
  @media (max-width: 767px) {
    .main-nav--opened .main-nav__list {
      display: block; } }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 8px;
    width: 24px;
    height: 2px;
    background-color: #000000; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(45deg); }
  .main-nav--nojs .main-nav__list {
    display: block; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }

.main-nav__toggle {
  display: block;
  position: absolute;
  top: -54px;
  left: calc(50% + 108px);
  z-index: 5;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }
  .main-nav__toggle:hover, .main-nav__toggle:focus {
    opacity: 0.6; }
  .main-nav__toggle:active {
    opacity: 0.3; }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .site-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 8px; } }

@media (max-width: 767px) {
  .site-list__item {
    margin: 0 -20px;
    border-top: 1px solid #e6e6e6; }
    .site-list__item:last-of-type {
      border-bottom: 1px solid #e6e6e6; } }

@media (min-width: 768px) {
  .site-list__item {
    margin-left: 35px; } }

.site-list__link {
  display: block;
  padding: 20px 0;
  font-weight: 500;
  font-size: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  outline: none; }
  @media (min-width: 768px) {
    .site-list__link {
      padding: 10px 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33; }
      .site-list__link--current, .site-list__link--index-page-current {
        padding-bottom: 8px;
        border-bottom: 2px solid #68b738; } }
  @media (min-width: 1440px) {
    .site-list__link {
      padding: 8px 0;
      font-size: 20px;
      line-height: 1.5; }
      .site-list__link--index-page {
        color: #ffffff; }
        .site-list__link--index-page-current {
          border-bottom: 2px solid #ffffff; }
      .site-list__link--current {
        padding-bottom: 6px; } }
  .site-list__link[href]:hover, .site-list__link[href]:focus {
    opacity: 0.6; }
  .site-list__link[href]:active {
    opacity: 0.3; }

@media (max-width: 767px) {
  .promo {
    background: linear-gradient(to bottom, #64a83b 305px, transparent 305px); } }

@media (min-width: 1440px) {
  .promo {
    margin-bottom: 80px;
    background: url("../img/index-background-desktop@1x.jpg") bottom right no-repeat, linear-gradient(to right, transparent 50%, #64a83b 50%); } }

@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo {
    background: url("../img/index-background-desktop@2x.jpg") bottom right/720px 696px no-repeat, linear-gradient(to right, transparent 50%, #64a83b 50%); } }

.promo__container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 20px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  background: url("../img/index-can-mobile@1x.png") center 167px no-repeat, url("../img/index-background-mobile@1x.jpg") center top no-repeat; }
  @media (min-width: 768px) {
    .promo__container {
      min-height: 950px;
      padding: 110px;
      padding-top: 140px;
      text-align: left;
      color: #000000;
      background: url("../img/index-can-tablet@1x.jpg") center bottom no-repeat; } }
  @media (min-width: 1440px) {
    .promo__container {
      min-height: 695px;
      padding: 120px;
      padding-top: 225px;
      text-align: left;
      color: #000000;
      background: url("../img/index-can-desktop@1x.png") 488px 141px no-repeat; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .promo__container {
      background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
      background-size: 280px 271px, 320px 305px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .promo__container {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px; } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
    .promo__container {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px 499px; } }

.promo__title {
  margin: 5px 0 25px;
  font-weight: 400;
  font-size: 36px; }
  @media (min-width: 768px) {
    .promo__title {
      margin: 0;
      margin-bottom: 40px;
      width: 500px;
      font-size: 60px; } }

.promo__slogan {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .promo__slogan {
      font-size: 20px; } }

.promo__button {
  margin-top: auto; }
  @media (min-width: 768px) {
    .promo__button {
      margin-top: 50px; } }

.program__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .program__list {
      display: flex;
      justify-content: space-between; } }

.program__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 30px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .program__item {
      padding: 80px 50px 60px; } }
  @media (min-width: 1440px) {
    .program__item {
      width: 570px; } }
  .program__item:not(:last-of-type) {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .program__item:not(:last-of-type) {
        margin-bottom: 30px; } }
    @media (min-width: 1440px) {
      .program__item:not(:last-of-type) {
        margin-bottom: 0; } }
  .program__item::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .program__item::before {
        top: 90px;
        left: auto;
        right: 60px;
        width: 200px;
        height: 200px; } }
    @media (min-width: 1440px) {
      .program__item::before {
        top: 45px;
        left: 50px;
        right: auto;
        width: 100px;
        height: 100px; } }
  .program__item--slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 29px;
    width: 36px;
    height: 50px;
    background: url("../img/icon-cat-slim.svg") 0 0 no-repeat; }
    @media (min-width: 768px) {
      .program__item--slim::after {
        top: 79px;
        left: auto;
        right: 90px;
        width: 140px;
        height: 192px; } }
    @media (min-width: 1440px) {
      .program__item--slim::after {
        top: 39px;
        left: 65px;
        right: auto;
        width: 70px;
        height: 97px; } }
  .program__item--pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") 0 0 no-repeat; }
    @media (min-width: 768px) {
      .program__item--pro::after {
        top: 134px;
        left: auto;
        right: 28px;
        width: 268px;
        height: 112px; } }
    @media (min-width: 1440px) {
      .program__item--pro::after {
        top: 65px;
        left: 31px;
        right: auto;
        width: 134px;
        height: 56px; } }

.program__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .program__title {
      margin-bottom: 25px;
      padding-left: 0;
      font-size: 36px;
      line-height: 1; } }
  @media (min-width: 1440px) {
    .program__title {
      margin-bottom: 75px;
      padding-left: 165px; } }

.program__description {
  margin: 0;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .program__description {
      border-bottom: 1px solid #d9d9d9; } }
  @media (min-width: 768px) {
    .program__description {
      width: 375px;
      min-height: 95px;
      padding: 0;
      margin-bottom: 60px;
      font-size: 16px;
      line-height: 1.5;
      color: #000000; } }
  @media (min-width: 1440px) {
    .program__description {
      width: auto;
      min-height: auto;
      margin-bottom: 30px; } }

.program__link {
  position: relative;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  outline: none; }
  .program__link::before {
    content: "";
    position: absolute;
    top: 3px;
    right: -47px;
    width: 32px;
    height: 10px;
    background: url("../img/icon-right-arrow-long.svg") left top no-repeat; }
  .program__link:hover::before, .program__link:focus::before {
    background: url("../img/icon-right-arrow-verylong.svg") left top no-repeat; }
  .program__link:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .program__link {
      margin-top: 0;
      font-size: 20px; }
      .program__link::before {
        top: 5px;
        right: -57px; } }
  @media (min-width: 1440px) {
    .program__link {
      margin-top: auto; } }

@media (min-width: 768px) {
  .how-it-works {
    border-bottom: 1px solid #e6e6e6; } }

@media (min-width: 1440px) {
  .how-it-works {
    border-bottom: none; } }

.how-it-works__container {
  padding: 20px;
  padding-top: 30px; }
  @media (min-width: 768px) {
    .how-it-works__container {
      padding: 50px 30px 45px; } }
  @media (min-width: 1440px) {
    .how-it-works__container {
      padding: 75px 110px 0; } }

.how-it-works__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000; }
  @media (min-width: 768px) {
    .how-it-works__title {
      margin-bottom: 30px;
      font-size: 60px; } }

.how-it-works__list {
  counter-reset: block;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .how-it-works__list {
      display: grid;
      grid-template-columns: repeat(2, 250px);
      gap: 35px 135px; } }
  @media (min-width: 1440px) {
    .how-it-works__list {
      grid-template-columns: repeat(4, 250px);
      justify-content: space-between;
      gap: 0; } }

.how-it-works__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-top: 2px; }
  @media (min-width: 768px) {
    .how-it-works__item {
      min-height: 280px;
      margin-bottom: 0;
      padding-left: 0;
      padding-top: 150px; }
      .how-it-works__item::after {
        position: absolute;
        top: 0;
        left: 110px;
        z-index: -1;
        font-family: "Oswald", "Arial", sans-serif;
        font-size: 280px;
        line-height: 1;
        color: #f2f2f2; }
      .how-it-works__item--healthy::after {
        counter-increment: block;
        content: counter(block); }
      .how-it-works__item--state::after {
        counter-increment: block;
        content: counter(block); }
      .how-it-works__item--dosage::after {
        counter-increment: block;
        content: counter(block); }
      .how-it-works__item--time::after {
        counter-increment: block;
        content: counter(block); } }
  .how-it-works__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-position: center center;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .how-it-works__item::before {
        top: 40px;
        width: 80px;
        height: 80px; } }
  .how-it-works__item--healthy::before {
    background-image: url("../img/advantage-leaf@1x.png"); }
  .how-it-works__item--state::before {
    background-image: url("../img/advantage-powder@1x.png"); }
  .how-it-works__item--dosage::before {
    background-image: url("../img/advantage-dining@1x.png"); }
  .how-it-works__item--time::before {
    background-image: url("../img/advantage-clock@1x.png"); }

.feedback {
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .feedback {
      background: linear-gradient(to bottom, transparent 620px, #eaeaea 620px); } }
  @media (min-width: 1440px) {
    .feedback {
      background: linear-gradient(to bottom, transparent 205px, #eaeaea 205px); } }

.feedback__container {
  padding-top: 30px;
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .feedback__container {
      padding-top: 40px;
      padding-bottom: 35px; } }
  @media (min-width: 1440px) {
    .feedback__container {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 70px; } }

@media (min-width: 1440px) {
  .feedback__description {
    width: 440px; } }

.feedback__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000; }
  @media (min-width: 768px) {
    .feedback__title {
      margin-bottom: 70px;
      font-size: 60px; } }
  @media (min-width: 1440px) {
    .feedback__title {
      margin-top: 70px;
      margin-bottom: 145px; } }

.feedback__item {
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .feedback__item {
      padding-bottom: 55px; } }

.feedback__wrapper {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .feedback__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 70px; } }
  @media (min-width: 1440px) {
    .feedback__wrapper {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0; } }

.feedback__achievements {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .feedback__achievements {
      width: 365px;
      margin: 0; } }
  @media (min-width: 1440px) {
    .feedback__achievements {
      margin-bottom: 55px; } }

.feedback__achievement {
  position: relative;
  width: 125px;
  min-height: 55px;
  padding-top: 15px;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .feedback__achievement {
      width: 160px;
      min-height: 70px;
      font-size: 30px; } }

.feedback__achievement-result {
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  width: 85px;
  padding: 0 10px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;
  color: #444444;
  background-color: #eaeaea; }
  @media (min-width: 768px) {
    .feedback__achievement-result {
      top: 64px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      font-size: 14px;
      background-color: #ffffff; } }
  @media (min-width: 1440px) {
    .feedback__achievement-result {
      background-color: #eaeaea; } }

.feedback__expenses {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #000000; }
  .feedback__expenses li:first-of-type {
    margin-right: 5px; }
  @media (min-width: 768px) {
    .feedback__expenses {
      flex-direction: column;
      margin: 0;
      font-size: 20px;
      text-align: right; }
      .feedback__expenses li:first-of-type {
        margin-right: 0; } }
  @media (min-width: 1440px) {
    .feedback__expenses {
      width: 100%;
      flex-direction: row;
      justify-content: left; }
      .feedback__expenses li:first-of-type {
        margin-right: 55px; } }

.feedback__example {
  min-height: 295px;
  text-align: center; }
  @media (min-width: 767px) {
    .feedback__example {
      margin: 0 -20px; } }

.feedback__photo {
  width: 320px;
  height: auto; }
  @media (min-width: 768px) {
    .feedback__photo {
      width: 690px; } }
  .feedback__photo--after {
    display: none; }

.feedback__example-compare {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px; }

.range-compare {
  width: 428px;
  height: 6px;
  margin: 0 20px;
  background-color: #d9d9d9;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .range-compare {
      width: 84px;
      height: 14px;
      margin: 0 15px;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      border-radius: 6px; } }

.range-compare__scale {
  position: relative;
  width: 394px;
  height: 6px;
  margin: 0 17px; }
  @media (max-width: 767px) {
    .range-compare__scale {
      width: 36px;
      height: 6px;
      margin: 3px 23px; } }

.range-compare__toggle {
  content: "";
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16); }
  .range-compare__toggle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%; }
  .range-compare__toggle:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  .range-compare__toggle:active {
    border-color: #68b738;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
  @media (max-width: 767px) {
    .range-compare__toggle {
      top: 0;
      width: 36px;
      height: 6px;
      background-color: #68b738;
      border: none;
      border-radius: 3px;
      box-shadow: none; }
      .range-compare__toggle::before {
        content: none; } }

.contacts {
  position: relative;
  background-color: #f2f2f2; }
  .contacts--index-page {
    background-color: transparent; }

.contacts__container {
  display: flex;
  padding: 20px 0;
  padding-top: 30px; }
  @media (min-width: 768px) {
    .contacts__container {
      justify-content: space-between;
      padding: 60px 70px; } }
  @media (min-width: 1440px) {
    .contacts__container {
      position: absolute;
      width: 570px;
      top: 95px;
      left: calc(50% - 610px);
      background-color: #ffffff; } }

.contacts__dealesrs-invite {
  width: 50%;
  margin: 0;
  padding-right: 10px;
  font-size: 16px;
  line-height: 1.1;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #111111; }
  @media (min-width: 768px) {
    .contacts__dealesrs-invite {
      width: 250px;
      font-size: 20px; } }

.contacts__address {
  line-height: 1.4; }
  @media (min-width: 768px) {
    .contacts__address {
      font-size: 16px;
      line-height: 1.25; }
      .contacts__address p {
        text-align: right; }
      .contacts__address p:first-of-type {
        margin-bottom: 20px; } }
  .contacts__address p {
    margin: 0; }

.contacts__map {
  display: block;
  min-height: 400px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .contacts__map {
      width: 767px; } }
  @media (min-width: 1440px) {
    .contacts__map {
      width: 1440px; } }

.page-footer {
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px; } }

.page-footer__logo {
  margin: 40px auto 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .page-footer__logo {
      width: 165px;
      margin: 0; } }
  @media (max-width: 767px) {
    .page-footer__logo img {
      margin: 0 auto; } }

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .page-footer__social {
      border-top: none;
      border-bottom: none; } }

.page-footer__copyright {
  margin: 22px auto; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      width: 165px;
      margin: 0; } }

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__link {
  display: block;
  margin: 20px;
  outline: none; }
  .social__link .social__icon {
    fill: #666666; }
  .social__link:hover .social__icon, .social__link:focus .social__icon {
    fill: #68b738; }
  .social__link:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .social__link--vkontakte svg {
      width: 29px;
      height: 17px; } }
  @media (min-width: 768px) {
    .social__link--instagram svg {
      width: 23px;
      height: 23px; } }
  @media (min-width: 768px) {
    .social__link--facebook svg {
      width: 13px;
      height: 77px; } }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.copyright__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.1; }

.copyright__link {
  display: block;
  outline: none; }
  .copyright__link .copyright__line {
    fill: #666666; }
  .copyright__link:hover .copyright__line, .copyright__link:focus .copyright__line {
    fill: #68b738; }
  .copyright__link:active {
    opacity: 0.3; }
  .copyright__link svg {
    display: block; }

@media (max-width: 767px) {
  .catalog__container {
    width: 100%;
    padding: 0; } }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .catalog__list {
      display: grid;
      grid-template-columns: repeat(2, 324px);
      gap: 60px; } }
  @media (min-width: 1440px) {
    .catalog__list {
      grid-template-columns: repeat(4, 245px);
      gap: 60px 80px; } }

@media (max-width: 767px) {
  .catalog__item {
    border-bottom: 1px solid #eaeaea; } }

.catalog__title {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000; }
  @media (max-width: 767px) {
    .catalog__title {
      width: 280px;
      border-bottom: 1px solid #eaeaea; } }
  @media (min-width: 768px) {
    .catalog__title {
      padding-top: 50px;
      padding-bottom: 85px;
      font-size: 60px; } }
  @media (min-width: 1440px) {
    .catalog__title {
      padding-top: 60px; } }

.catalog-additional {
  margin-bottom: 35px; }
  @media (min-width: 768px) {
    .catalog-additional {
      margin-bottom: 75px; } }
  @media (min-width: 1440px) {
    .catalog-additional {
      margin-bottom: 85px; } }

.catalog-additional__decor-container {
  position: relative; }
  .catalog-additional__decor-container::before {
    content: "";
    position: absolute;
    top: 45px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #68b738; }
    @media (min-width: 768px) {
      .catalog-additional__decor-container::before {
        top: 90px; } }
    @media (min-width: 1440px) {
      .catalog-additional__decor-container::before {
        top: 100px; } }

.catalog-additional__decor-wrapper {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .catalog-additional__decor-wrapper {
      width: 768px; } }
  @media (min-width: 1440px) {
    .catalog-additional__decor-wrapper {
      width: 1440px; } }

.catalog-additional__wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .catalog-additional__wrapper {
      flex-direction: row; } }
  @media (min-width: 1440px) {
    .catalog-additional__wrapper {
      justify-content: space-between; } }

.catalog-additional__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 30px 20px 35px;
  z-index: 5;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .catalog-additional__title {
      padding: 70px 30px 80px;
      font-size: 36px; } }
  @media (min-width: 1440px) {
    .catalog-additional__title {
      margin-left: 70px;
      padding: 75px 40px 80px; } }

@media (min-width: 1440px) {
  .catalog-additional-container {
    display: flex; } }

.catalog-additional__list {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  list-style: none; }

.catalog-additional__promo {
  min-height: 289px;
  margin-top: 40px;
  padding-top: 5px;
  background: url("../img/icon-gift.svg") center 65px/55px 60px no-repeat, url("../img/gift-photo-mobile@1x.jpg") center top no-repeat; }
  @media (min-width: 768px) {
    .catalog-additional__promo {
      min-height: 200px;
      margin-top: 70px;
      background: url("../img/icon-gift.svg") 90px 65px/55px 60px no-repeat, url("../img/gift-photo-tablet@1x.jpg") center top no-repeat; } }
  @media (min-width: 1440px) {
    .catalog-additional__promo {
      width: 245px;
      min-height: 289px;
      margin-top: 0;
      margin-left: 80px;
      background: url("../img/icon-gift.svg") center 60px/55px 60px no-repeat, url("../img/gift-photo-desktop@1x.jpg") center top no-repeat; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .catalog-additional__promo {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@2x.jpg");
      background-size: 55px 60px, 280px 289px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .catalog-additional__promo {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-tablet@2x.jpg");
      background-size: 55px 60px, 708px 200px; } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
    .catalog-additional__promo {
      background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-desktop@2x.jpg");
      background-size: 55px 60px, 245px 289px; } }

.catalog-additional__promo-terms {
  margin: 0;
  margin-top: 185px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff; }
  @media (min-width: 768px) {
    .catalog-additional__promo-terms {
      margin-top: 70px;
      margin-left: 425px;
      -moz-text-align-last: left;
           text-align-last: left; } }
  @media (min-width: 1440px) {
    .catalog-additional__promo-terms {
      margin: 0;
      margin-top: 185px;
      -moz-text-align-last: center;
           text-align-last: center; } }

.product-card {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 25px;
  background: 20px 5px no-repeat; }
  .product-card--not-product {
    padding-top: 60px; }
  .product-card--alternative {
    width: auto;
    margin: 0;
    padding: 10px 0 20px;
    border-bottom: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      min-height: 510px;
      background: linear-gradient(to bottom, transparent 80px, #f2f2f2 80px); }
      .product-card--not-product {
        background: transparent; }
      .product-card--alternative {
        min-height: auto;
        margin-top: -1px;
        padding: 25px 40px 30px;
        background: transparent;
        border: 1px solid #cdcdcd; } }
  @media (min-width: 1440px) {
    .product-card--alternative {
      flex-direction: row;
      align-items: center;
      padding: 15px 0 16px;
      border-right: none;
      border-left: none; } }

.product-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .product-card__wrapper picture {
    order: -1;
    flex-shrink: 0; }
    @media (min-width: 768px) {
      .product-card__wrapper picture {
        display: flex;
        align-items: flex-end;
        height: 208px;
        margin: 0 -20px;
        margin-bottom: 25px; } }
    @media (min-width: 1440px) {
      .product-card__wrapper picture {
        margin-bottom: 35px; } }
  .product-card__wrapper div {
    flex-grow: 1;
    width: 100%; }
  @media (min-width: 768px) {
    .product-card__wrapper {
      flex-direction: column;
      align-items: center; } }

.product-card__img {
  display: block;
  width: 140px;
  height: auto; }
  @media (min-width: 768px) {
    .product-card__img {
      width: 324px; } }
  @media (min-width: 1440px) {
    .product-card__img {
      width: 245px; } }

.product-card__title {
  width: 100px;
  margin: 20px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222222; }
  .product-card__title--not-product {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    color: #111111; }
  .product-card__title--not-product::before, .product-card__title--not-product::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: #d3d3d3; }
  .product-card__title--not-product::after {
    transform: translateX(-14px) rotate(90deg); }
  .product-card__title--alternative {
    width: auto;
    margin: 0;
    margin-bottom: 13px; }
  @media (min-width: 768px) {
    .product-card__title {
      margin: 0 auto 20px;
      width: 150px;
      font-size: 20px;
      line-height: 1.2;
      text-align: center; }
      .product-card__title--not-product {
        margin-top: 100px; }
      .product-card__title--not-product::before, .product-card__title--not-product::after {
        top: -80px;
        width: 60px; }
      .product-card__title--not-product::after {
        transform: translateX(-29px) rotate(90deg); }
      .product-card__title--alternative {
        width: auto;
        margin-left: 0;
        font-size: 20px;
        line-height: 1; } }
  @media (min-width: 1440px) {
    .product-card__title--alternative {
      width: 325px;
      margin: 0;
      text-align: left; } }

.product-card__product-properties {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  font-size: 12px; }
  .product-card__product-properties--alternative {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px; }
    .product-card__product-properties--alternative p {
      margin: 0;
      font-size: 14px;
      line-height: 1; }
  @media (min-width: 768px) {
    .product-card__product-properties {
      margin-bottom: 35px; }
      .product-card__product-properties--alternative {
        margin: 0;
        margin-top: auto;
        margin-bottom: 20px; }
        .product-card__product-properties--alternative p {
          font-size: 16px;
          line-height: 1.25; }
        .product-card__product-properties--alternative p:last-of-type {
          width: 95px;
          text-align: right; } }
  @media (min-width: 1440px) {
    .product-card__product-properties--alternative {
      width: 325px;
      margin: 0;
      padding-right: 40px; } }

.product-card__product-property {
  display: flex;
  justify-content: space-between; }
  .product-card__product-property p {
    margin: 0; }
  @media (min-width: 768px) {
    .product-card__product-property {
      padding: 7px 0;
      font-size: 16px;
      line-height: 1;
      border-bottom: 1px solid #cdcdcd; } }

.product-card__info {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.3;
  text-align: center; }
  @media (min-width: 768px) {
    .product-card__info {
      width: 170px;
      margin: auto;
      margin-top: 0;
      font-size: 16px;
      line-height: 1.1;
      text-align: center; } }

.program-selection {
  padding: 30px 0; }
  @media (min-width: 768px) {
    .program-selection {
      padding: 50px 0 70px; } }
  @media (min-width: 1440px) {
    .program-selection {
      padding: 60px 0 80px; } }

.program-selection__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000; }
  @media (min-width: 768px) {
    .program-selection__title {
      margin-bottom: 55px;
      font-size: 60px; } }

.program-selection__annotation {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .program-selection__annotation {
      margin: 0 40px 65px;
      font-size: 20px;
      line-height: 1.5; } }
  @media (min-width: 1440px) {
    .program-selection__annotation {
      margin: 0;
      margin-bottom: 65px; } }

@media (max-width: 767px) {
  .program-selection__form-container {
    width: auto;
    margin: 0;
    padding: 0; } }

@media (min-width: 1440px) {
  .program-selection__form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px; } }

@media (max-width: 767px) {
  .program-selection__wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px; } }

.program-selection__decor-container {
  position: relative; }
  .program-selection__decor-container::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #68b738; }
    @media (min-width: 768px) {
      .program-selection__decor-container::before {
        top: 23px; } }

.program-selection__decor-wrapper {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .program-selection__decor-wrapper {
      width: 768px; } }
  @media (min-width: 1440px) {
    .program-selection__decor-wrapper {
      width: 1440px; } }

.program-selection__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.1;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase; }
  .program-selection__label--input {
    position: relative; }
    .program-selection__label--input:not(:last-of-type) {
      margin-bottom: 12px; }
  .program-selection__label--radio:not(:last-of-type) {
    margin-bottom: 25px; }
  .program-selection__label--checkbox:not(:last-of-type) {
    margin-bottom: 25px; }
  .program-selection__label span {
    flex-shrink: 0; }
  @media (min-width: 768px) {
    .program-selection__label {
      font-size: 20px;
      line-height: 1.5; }
      .program-selection__label--input:not(:last-of-type) {
        margin-bottom: 20px; }
      .program-selection__label--radio:not(:last-of-type) {
        margin-bottom: 22px; }
      .program-selection__label--checkbox:not(:last-of-type) {
        margin-bottom: 0; } }

.program-selection__input {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  margin-left: 15px;
  padding: 15px;
  font: inherit;
  color: inherit;
  border: 1px solid #e6e6e6;
  outline: none; }
  .program-selection__input:hover {
    border: 1px solid #cdcdcd; }
  .program-selection__input:focus {
    border: 2px solid #444444;
    padding: 14px; }
    @media (min-width: 768px) {
      .program-selection__input:focus {
        padding: 9px 19px; } }
  .program-selection__input--error {
    border: 2px solid #ff8282;
    padding: 14px; }
    @media (min-width: 768px) {
      .program-selection__input--error {
        padding: 9px 19px; } }
  @media (min-width: 768px) {
    .program-selection__input {
      padding: 10px 20px; } }

.program-selection__icon {
  position: absolute;
  right: 15px; }
  .program-selection__icon path {
    fill: #222222; }
  .program-selection__input:focus + .program-selection__icon path {
    fill: #68b738; }
  .program-selection__input--error + .program-selection__icon path {
    fill: #ff8282; }
  @media (min-width: 768px) {
    .program-selection__icon {
      right: 20px; } }

.program-selection__radio + .program-selection__label-description {
  position: relative;
  padding-left: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }
  .program-selection__radio + .program-selection__label-description::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%; }
  .program-selection__radio + .program-selection__label-description:hover::before {
    border-color: #bababa; }
  .program-selection__radio + .program-selection__label-description:active {
    opacity: 0.3; }

.program-selection__radio:checked + .program-selection__label-description::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%; }

.program-selection__radio:checked:focus + .program-selection__label-description::before {
  border-color: #bababa; }

@media (min-width: 768px) {
  .program-selection__radio + .program-selection__label-description {
    padding-left: 60px; }
    .program-selection__radio + .program-selection__label-description::before {
      top: -5px;
      width: 40px;
      height: 40px; }
  .program-selection__radio:checked + .program-selection__label-description::after {
    top: 6px;
    left: 11px;
    width: 18px;
    height: 18px; } }

.program-selection__legend {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 1.1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .program-selection__legend {
      margin-bottom: 70px;
      margin-left: 40px;
      padding: 0 30px;
      font-size: 36px;
      line-height: 1; }
      .program-selection__legend br {
        display: none; } }
  @media (min-width: 1440px) {
    .program-selection__legend {
      margin-left: 70px;
      padding: 0 40px; } }

.program-selection__cat-about {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none; }
  @media (max-width: 767px) {
    .program-selection__cat-about {
      border-bottom: 1px solid #d9d9d9; } }
  @media (min-width: 768px) {
    .program-selection__cat-about {
      margin: 0 40px;
      padding-bottom: 70px; } }
  @media (min-width: 1440px) {
    .program-selection__cat-about {
      margin: 0;
      padding-bottom: 0; } }

.program-selection__type {
  margin: 0;
  padding: 25px 20px;
  border: none;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .program-selection__type {
      margin: 0 40px;
      padding: 30px;
      border: 1px solid #e6e6e6; } }
  @media (min-width: 1440px) {
    .program-selection__type {
      margin: 0; } }

.program-selection__user-personal {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  border: none; }
  @media (min-width: 768px) {
    .program-selection__user-personal {
      margin-top: 70px; } }

@media (min-width: 768px) {
  .program-selection__user-personal-container {
    margin: 0 40px; } }

@media (min-width: 1440px) {
  .program-selection__user-personal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 80px;
    margin: 0; }
    .program-selection__user-personal-container .program-selection__label--input:not(:last-of-type) {
      margin-bottom: 0; } }

.program-selection__comment {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  border: none; }
  @media (min-width: 768px) {
    .program-selection__comment {
      margin-top: 70px; } }

@media (min-width: 768px) {
  .program-selection__comment-container {
    margin: 0 40px; } }

@media (min-width: 1440px) {
  .program-selection__comment-container {
    margin: 0; } }

.program-selection__comment-field {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 1.1;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: inherit;
  border: 1px solid #e6e6e6;
  outline: none;
  resize: vertical; }
  .program-selection__comment-field:hover {
    border: 1px solid #cdcdcd; }
  .program-selection__comment-field:focus {
    border: 2px solid #444444;
    padding: 14px; }
  @media (min-width: 768px) {
    .program-selection__comment-field {
      font-size: 20px;
      line-height: 1.5; } }

.program-selection__additional {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  padding-bottom: 40px;
  border: none; }
  @media (min-width: 768px) {
    .program-selection__additional {
      margin-top: 65px;
      padding-bottom: 55px; } }

.program-selection__checkbox + .program-selection__label-description {
  position: relative;
  padding-left: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }
  .program-selection__checkbox + .program-selection__label-description::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd; }
  .program-selection__checkbox + .program-selection__label-description:hover::before {
    border-color: #bababa; }
  .program-selection__checkbox + .program-selection__label-description:active {
    opacity: 0.3; }

.program-selection__checkbox:checked + .program-selection__label-description::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 18px;
  height: 14px;
  background: url("../img/icon-tick.svg") no-repeat; }

.program-selection__checkbox:checked:focus + .program-selection__label-description::before {
  border-color: #bababa; }

@media (min-width: 768px) {
  .program-selection__checkbox + .program-selection__label-description {
    padding-left: 60px; }
    .program-selection__checkbox + .program-selection__label-description::before {
      top: -5px;
      width: 40px;
      height: 40px; }
  .program-selection__checkbox:checked + .program-selection__label-description::after {
    top: 8px;
    left: 11px;
    width: 18px;
    height: 18px; } }

@media (min-width: 768px) {
  .program-selection__additional-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
    margin: 0 40px; } }

@media (min-width: 1440px) {
  .program-selection__additional-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 80px;
    margin: 0; } }

.program-selection__bottom-controls {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center; }
  @media (min-width: 768px) {
    .program-selection__bottom-controls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 60px;
      margin: 0 40px; } }
  @media (min-width: 1440px) {
    .program-selection__bottom-controls {
      gap: 40px 80px;
      margin: 0; } }

.program-selection__footnote {
  display: block;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  color: #000000; }
  @media (min-width: 768px) {
    .program-selection__footnote {
      font-size: 16px;
      line-height: 1;
      -moz-text-align-last: left;
           text-align-last: left; } }

/*# sourceMappingURL=style.css.map */
