// Colors

$dark-night: #111111;
$dark-coal: #222222;
$dark-dim: #444444;
$grey-dark: #666666;
$grey-almost-dark: #bababa;
$grey: #cdcdcd;
$grey-almost-light: #d3d3d3;
$grey-light: #d9d9d9;
$light: #e6e6e6;
$light-snow: #eaeaea;
$light-bright: #f2f2f2;

$black: #000000;
$white: #ffffff;

$basic-site: #68b738;
$basic-site-dim: #5eaa2f;

$special-site: #64a83b;

$error-site: #ff8282;

// Fonts

$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", "Helvetica", sans-serif;


// Viewports

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;


// Blocks

$button--link: $white;
$button--bg: $basic-site;
$button--bg-hover: $basic-site-dim;
$button--show-all--link: $dark-dim;
$button--show-all--bg: $light-bright;
$button--show-all--bg-hover: $light-snow;


$page--txt: $dark-dim;
$page--txt-alt: $black;
$page--bg: $white;
$page--bg-alt: $light-bright;

$main-nav--btn: $black;

$site-list--txt-desktop: $white;
$site-list--border-mobile: $light;
$site-list--border-tablet: $basic-site;

$promo--txt-mobile: $white;
$promo--bg-desktop: $special-site;

$program--link: $black;
$program--border: $grey-light;
$program--icon-bg: $basic-site;

$how-it-works--icon-bg: $basic-site;
$how-it-works--border: $light;

$feedback--bg: $light-snow;
$feedback--border: $grey;

$range-compare--bg: $grey-light;
$range-compare--bg-mobile: $white;
$range-compare--border: $grey;
$range-compare--border-active: $basic-site;
$range-compare--toggle: $basic-site;
$range-compare--toggle-secondary: $white;
$range-compare--shadow: $black;

$contacts--txt: $dark-night;

$page-footer--border: $grey-light;

$social--color: $grey-dark;
$social--color-hover: $basic-site;

$catalog--txt-alt: $dark-night;
$catalog--border: $light-snow;
$catalog--border-alt: $basic-site;
$catalog--cross: $grey-almost-light;

$product-card--txt: $dark-coal;
$product-card--border: $light-snow;
$product-card--border-alt: $grey;

$catalog-promo--txt: $white;

$program-selection--border: $light;
$program-selection--border-alt: $grey-light;

$form--input: $light;
$form--input-hover: $grey;
$form--input-focus: $dark-dim;
$form--input-error: $error-site;

$form--radio: $grey;
$form--radio-hover: $grey-almost-dark;
