$dark-night: #111111;
$dark-dim: #444444;
$grey: #CDCDCD;
$grey-light: #D9D9D9;
$light: #E6E6E6;
$light-snow: #EAEAEA;
$light-bright: #F2F2F2;

$black: #000000;
$white: #FFFFFF;

$basic-site: #68B738;


$button--link: $white;
$button--bg: $basic-site;

$page--txt: $dark-dim;
$page--bg: $white;

$site-list--link: $black;
$site-list--border: $light;

$promo--txt: $white;

$program--txt: $black;
$program--link: $black;
$program--bg: $light-bright;
$program--border: $grey-light;
$program--icon-bg: $basic-site;

$how-it-works--txt: $black;
$how-it-works--icon-bg: $basic-site;

$feedback--txt: $black;
$feedback--bg: $light-snow;
$feedback--border: $grey;
$feedback--toggle: $basic-site;
$feedback--toggle-bg: $white;
$feedback--toggle-border: $grey;

$contacts--txt: $dark-night;
$contacts--map-bg: $light-snow;

$page-footer--bg: $light-bright;
$page-footer--border: $grey-light;
